body {
    min-height: 100vh;
}

html {
    overflow-x: auto;
    overflow-y: auto;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 var(--bs-border-color);
}

.sidebar-sticky {
    height: calc(100vh);
    overflow-x: auto;
    overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
}

.flex-sidebar {
    flex-direction: column !important;
}

.ms-sm-6 {
    margin-left: 4.5rem !important;
}

.col-lg-main {
    flex: 0 0 auto;
    width: calc(100% - 4.5rem);
}

.col-md-main {
    flex: 0 0 auto;
    width: calc(100% - 4.5rem) !important;
}

.col-lg-sidebar {
    flex: 0 0 auto;
    width: calc(4.5rem);
}

.col-md-sidebar {
    flex: 0 0 auto;
    width: calc(4.5rem);
}

.border-sidebar {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.dropdown-item-danger {
    color: var(--bs-red);
}

.dropdown-item-danger:hover, .dropdown-item-danger:focus {
    color: var(--bs-white) !important;
    background-color: var(--bs-danger) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-primary) !important;
    box-shadow: inset -1px 0 0 var(--bs-border-color);
}

.nav-link {
    color: var(--bs-secondary-color) !important;
}

.nav-link:hover, .nav-link:focus {
    color: var(--bs-emphasis-color) !important;
}

.border-profile {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

@media (max-width: 767.98px) {
    .sidebar {
        position: fixed !important;
        top: initial;
        bottom: 0;
        box-shadow: 0px 1px 0px var(--bs-border-color) inset !important;
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: auto !important;
        overflow-y: hidden !important;
        height: 3.78rem;
    }

    .sidebar-sticky {
        height: 3.78rem;
        margin: auto;
    }

    .col-lg-sidebar {
        width: 100%;
    }

    .col-md-sidebar {
        width: 100%;
    }

    .flex-sidebar {
        flex-direction: row !important;
    }

    .ms-sm-6 {
        margin-left: 0 !important;
    }

    .col-lg-main {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-md-main {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .nav {
        flex-wrap: nowrap;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        box-shadow: 0px 1px 0px var(--bs-border-color) inset;
    }

    .border-sidebar {
        border-bottom: none !important;
    }

    .border-profile {
        border-top: none !important;
    }
}